.assetlivehealthitem-container {
    background-color: cornsilk;
    padding: 20px 0 0 20px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.assetlivehealthitem-container h3 {
    margin: 0 0 40px 0;
}

.assetlivehealthitem-meter-wrapper {
    text-align: center;
}