.assethistory-item-container {
    background-color: cornsilk;
    padding: 10px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.assethistory-item-container div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.assethistoryitem-name{
    font-size: 20px;
    font-weight: 900;
}