.filter-wrapper {
    margin: 10px 10px 10px 0;
}

.filters-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filter-item {
    flex: 1;
    margin: 10px;
}

.filter-heading {
    font-family: 'Roboto', 'sans-serif';
    font-size: 12px;
    color: #505050;
}

.filter-action-buttons {
    text-align: end;
}

.filter-action-buttons>button {
    margin-left: 10px;
}