.filter-wrapper {
    display: flex;
    margin: 10px 10px 10px 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filter-item {
    flex:1;
    margin: 10px;
}

.filter-heading {
    font-family: 'Roboto', 'sans-serif';
    font-size: 12px;
    color: #505050;
}