.not-found-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', 'sans-serif';
}

.not-found-wrapper div {
    text-align: center;
}
