.assetlivehealth-container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.assetlivehealth-container-row {
    display: flex;
    flex:1;
    flex-wrap: wrap;
    justify-content: space-between;
}

.assetlivehealth-container-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.assetlivehealth-container-row>div {
    flex: 1;
}