.dropdown-container {
    font-family: 'Roboto', sans-serif;
    display: flex;
    width: 100%;
    padding: 5px;
    position: relative;
    justify-content: center;
    background-color: #d3d3d3;
    box-shadow: 0px 0px 3px #888888;
}

.dropdown-button {
    width: 100%;
    cursor: pointer;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.dropdown-options {
    position: absolute;
    margin-top: 40px;
    width: 100%;
    text-align: start;
    max-height: 30vh;
    overflow-y: auto;
    box-shadow: -1px 1px 10px -1px rgba(0, 0, 0, 0.43);
    -webkit-box-shadow: -1px 1px 10px -1px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: -1px 1px 10px -1px rgba(0, 0, 0, 0.43);
}

.dropdown-options-item {
    cursor: pointer;
    width: 100%;
    background-color: #d3d3d3;
}

.dropdown-options-item>p {
    margin: 0;
    padding: 10px;
}

.dropdown-options-divider {
    width: 100%;
    height: 1px;
}

.dropdown-show {
    display: block;
}

.dropdown-hide {
    display: none;
}

.dropdown-options::-webkit-scrollbar {
    width: 10px;
}

.dropdown-options::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.dropdown-options::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #a5a5a5;
}