.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-img {
    max-width: 30px;
    cursor: pointer;

}

.header-text {
    font-size: 18px;
    font-family: Roboto;
}

.header-item {
    margin: 5px 10px;
    padding: 5px;
}