.register {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}

.register-form-wrapper {
    border-radius: 2%;
    font-family: 'Roboto', 'sans-serif';
    padding: 30px;
    width: 300px;
    height: 350px;
    background-color: white;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.54);
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.54);
}

.register-form {
    position: relative;
}

.register-controls {
    margin-top: 40px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}